@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 254, 247, 236;
  }

  body {
    /*color: rgb(var(--foreground-rgb));*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    background: rgb(var(--foreground-rgb));
  }
}

@layer components {
  .fixed-header {
    @apply fixed left-[0] top-[0] z-10;
  }

  .button-primary-pink {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-blackColor bg-pinkColor px-2 text-lg font-semibold text-white hover:bg-pinkColorHover active:bg-pinkColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-secondary-pink {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-pinkColor bg-white px-2 text-lg font-semibold text-blackColor hover:border-pinkColorHover hover:text-pinkColorHover active:border-blackColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-popup-primary-pink {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-blackColor bg-pinkColor px-2 text-lg font-semibold text-white hover:bg-pinkColorHover active:bg-pinkColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-popup-secondary-pink {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-pinkColor bg-white px-2 text-lg font-semibold text-pinkColor hover:border-pinkColorHover hover:text-pinkColorHover active:border-blackColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-primary-yellow {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-blackColor bg-yellowColor px-2 text-lg font-semibold text-white hover:bg-yellowColorHover active:bg-yellowColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-secondary-yellow {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-yellowColor bg-white px-2 text-lg font-semibold text-blackColor hover:border-yellowColorHover hover:text-yellowColorHover active:border-blackColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-popup-primary-yellow {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-blackColor bg-yellowColor px-2 text-lg font-semibold text-white hover:bg-yellowColorHover active:bg-yellowColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-popup-secondary-yellow {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-yellowColor bg-white px-2 text-lg font-semibold text-yellowColor hover:border-yellowColorHover hover:text-yellowColorHover active:border-blackColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }
  .button-primary-orange {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-blackColor bg-orangeColor px-2 text-lg font-semibold text-white hover:bg-orangeColorHover active:bg-orangeColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-secondary-orange {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-orangeColor bg-white px-2 text-lg font-semibold text-blackColor hover:border-orangeColorHover hover:text-orangeColorHover active:border-blackColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-popup-primary-orange {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-blackColor bg-orangeColor px-2 text-lg font-semibold text-white hover:bg-orangeColorHover active:bg-orangeColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-popup-secondary-orange {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-orangeColor bg-white px-2 text-lg font-semibold text-orangeColor hover:border-orangeColorHover hover:text-orangeColorHover active:border-blackColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-primary-purple {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-blackColor bg-purpleColor px-2 text-lg font-semibold text-white hover:bg-purpleColorHover active:bg-purpleColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-secondary-purple {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-purpleColor bg-white px-2 text-lg font-semibold text-blackColor hover:border-purpleColorHover hover:text-purpleColorHover active:border-blackColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-popup-primary-purple {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-blackColor bg-purpleColor px-2 text-lg font-semibold text-white hover:bg-purpleColorHover active:bg-purpleColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .button-popup-secondary-purple {
    @apply max-h-[48px] min-h-[48px] rounded-xl border-2 border-purpleColor bg-white px-2 text-lg font-semibold text-purpleColor hover:border-purpleColorHover hover:text-purpleColorHover active:border-blackColor active:text-blackColor md:min-w-[176px] md:max-w-[176px];
  }

  .pinkColor-primary-state {
    @apply bg-pinkColor text-white hover:bg-[#B63364] active:bg-[#D6447A] disabled:cursor-not-allowed disabled:bg-gray2Color disabled:text-[#AAAAAA];
  }

  .pinkColor-second-state {
    @apply cursor-pointer border-2 border-pinkColor bg-white text-blackColor hover:border-blackColor hover:text-blackColor active:border-[#D6447A] active:text-[#D6447A] disabled:cursor-not-allowed disabled:border-gray2Color disabled:text-gray2Color;
  }

  .loader-container {
    @apply relative inline-flex items-center justify-center;
  }

  .loader-circle {
    @apply border-b-transparent border-l-transparent;
  }

  .button-primary {
    @apply z-[9] rounded-md border-2 border-blackColor bg-pinkColor px-[2em] py-[0.8em] font-semibold text-white shadow-md shadow-blackColor transition-all duration-200 ease-in-out hover:bg-[#cf4c7c] hover:text-blackColor disabled:cursor-not-allowed disabled:bg-gray2Color disabled:text-gray2Color;
  }

  .button-secondary {
    @apply button-primary border-pinkColor bg-white text-blackColor hover:bg-white hover:text-pinkColor disabled:cursor-not-allowed disabled:bg-gray2Color disabled:text-gray2Color;
  }

  .proposal-card {
    @apply max-h-[80px] min-h-[80px] w-full rounded-md border border-blackColor bg-white;
  }
}

@layer utilities {
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button-shadow {
  transition: 0.2s;
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px #171717;
  z-index: 9;
}

.button-shadow:active {
  transform: translate(0);
  box-shadow: none;
}

.dropdown-shadow {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px #171717;
  z-index: 9;
}

.proposal-card-shadow {
  --black: #171717;
  transition: 0.2s;
  padding: 0.8em 2em;
}

.proposal-card-shadow:hover {
  color: var(--black);
  transform: translate(-0.25rem, -0.25rem);
  background: #fef7ec;
  box-shadow: 0.25rem 0.25rem var(--black);
}

.card-shadow {
  transition: 0.2s;
}

.card-shadow:hover {
  border: solid 2px;
  transition: 0.2s;
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px black;
}

.proposal-card-shadow:active {
  transform: translate(0);
  box-shadow: none;
}
